body {
    margin: 0;
    overflow: hidden;
    font-size: 16px;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(100%);
}

#navbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
}

.navbar-button {
    margin-right: 20px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    padding: 1em 1.5em;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar-button.active {
    background-color: rgba(0, 0, 0, 0.7);
}

#sidebar,
#second-sidebar {
    position: fixed;
    top: 70px;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.274);
    color: white;
    padding: 2em;
    box-sizing: border-box;
    display: none;
    font-family: 'Poppins', sans-serif;
}

#sidebar {
    width: 25%;
    left: 0;
    height: calc(100vh - 70px);
}

#second-sidebar {
    width: 25%;
    left: 25%;
    height: calc(100vh - 70px);
}

#sidebar h2,
#second-sidebar h2 {
    font-size: 50px;
}

#sidebar p,
#second-sidebar p {
    font-size: 1.25em;
}

#sidebar button,
#second-sidebar button {
    display: block;
    margin-bottom: 1em;
    background: none;
    border: 1px solid white; /* Add border style */
    color: white;
    cursor: pointer;
    padding: 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
}

#sidebar button:hover,
#second-sidebar button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#second-sidebar img {
    position: relative;
    max-width: 100%;
    height: 100%;
    margin-bottom: 1em;
}
