body {
    margin: 0;
    overflow: hidden;
    font-size: 16px;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(80%);
}

#navbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
}

.navbar-button {
    margin-right: 20px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    padding: 1em 0;
    margin: 0 3rem;
    transition: background-color 0.3s ease;
    padding-bottom: 0;
}

.navbar-button.active {
    border-bottom: 2px solid;
}

.navbar-button {
    display: inline-block;
}

.navbar-button::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s;
    margin-top: 15px;
}

.navbar-button:hover::after {
    width: 100%;
}

.navbar-button.active::after {
    content: unset;
}

#sidebar,
#second-sidebar {
    position: fixed;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.129);
    color: white;
    padding: 2em;
    box-sizing: border-box;
    display: none;
    font-family: sans-serif;
}

/* #filter-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
} */

#filter-section label {
    margin-right: 10px;
}

#filter-section input,
#filter-section select,
#filter-section button {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
}

#filter-section button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

#filter-section button:hover {
    background-color: #0056b3;
}

#sidebar {
    width: 30%;
    left: 0;
    height: 100%;
}

#second-sidebar {
    width: 20%;
    left: 20%;
}

#sidebar h2,
#second-sidebar h2 {
    font-size: 32px;
}

#sidebar p,
#second-sidebar p {
    font-size: 16px;
}

#sidebar button,
#second-sidebar button {
    display: block;
    margin-bottom: 15px;
    background: none;
    border: 1px solid white; /* Add border style */
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
}

#sidebar button:hover,
#second-sidebar button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#second-sidebar img {
    position: relative;
    max-width: 100%;
    height: 100%;
    margin-bottom: 1em;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}

#filter-section {
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.Feature-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.Feature-wrapper button{
    width: 16rem;
}

.home-wrapper {
  margin-top: 7rem;
  margin-left: 1rem;
}

#sidebar .home-wrapper p {
    font-size: 12px;
}

.home-wrapper h2{
    text-transform: uppercase;
    max-width: 80%;
}

.home-wrapper .statistics-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-wrapper .statistics-wrapper .item {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-flow: column;
}
.home-wrapper .statistics-wrapper .item .number {
    font-weight: bold;
    font-size: 34px;
}

input[type = "text"]{
    background: transparent;
    border: unset;
    border-bottom: 1px solid;
    border-color: white;
    border-radius: unset;
    color: white;
    outline: none;
}

::placeholder {
    color: white;
    opacity: 0.8; /* Firefox */
  }

.your-svg-class {
    width: 28px;
    height: 28px;
    padding: 6px;
    background-color: white;
    border-radius: 50%;
    margin-right: 1rem;
}

.svg-with-text-wrapper {
    margin-top: 3rem;
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  {
     /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    
     #sidebar {
        width: 35%;
        padding-top: 5rem;
     }

     .navbar-button {
        display: inline-block;
        width: 100px;
     }
    }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }